.row
  %h1
    New List

.row
  .col-lg-8
    = form_for @list do |f|
      = render 'form', f: f

      .form-group
        = f.fields_for :tasks, Task.new do |ff|
          = render 'tasks/form', f: ff

      .form-group
        = f.submit "Create", class: "btn btn-success"
        - if @list.errors.any?
          - @list.errors.full_messages.each do |msg|
            .alert.alert-danger
              = msg
    = link_to "Back", lists_path