= form_for @user do |f|
  .form-group
    = f.label :university
    = f.text_field :university, class: "form-control"

  .form-group
    = f.label :degree
    = f.text_field :degree, class: "form-control"

  .form-group
    = f.label :grad_year
    = f.text_field :grad_year, class: "form-control"

  .form-group
    = f.submit "Submit", class: "btn btn-success"
    - if @user.errors.any?
      - @user.errors.full_messages.each do |msg|
        .alert.alert-danger
          = msg