%h1
  = "Info for #{@user.name}"

%p
  %strong
    = "Email: "
  = @user.email
%p
  %strong
    = "Bio: "
  = @user.bio
%p
  %strong
    = "City: "
  = @user.city
%p
  %strong
    = "State: "
  = @user.state
%p
  %strong  
    = "Zip Code: "
  = @user.zip
%p
  %strong
    = "University: "
  = @user.university
%p
  %strong  
    = "Degree: "
  = @user.degree
%p
  %strong  
    = "Grad Year: "
  = @user.grad_year

= link_to "Back", root_path
